{% extends 'base.html' %}
{% load bootstrap_icons %}
{% block content %}
<div class="container ">
    <div class="row mb-4">
        <div class="col">
            <div class="row mb-4 mt-4">
                <h2>
                    问题&nbsp{{wenda.序号}}:<strong> {{wenda.标题}}</strong>
                </h2>
            </div>
            <hr class="mt-2 mb-4" />
            <div class="row mb-4 mt-4">
                <h2>
                    答案:
                </h2>
                <h3>
                    <strong>
                        {% if wenda.参考问答 %}
                        {{wenda.参考问答项目.答案|safe}}
                        {% else %}
                        {{wenda.答案|safe}}
                        {% endif %}
                    </strong>
                </h3>
            </div>
            <div class="row mt-3 mb-3 border-bottom">
                <div class="col mt-3 mb-3">
                    <h4><strong>评论区</strong></h4>
                </div>
                <div class="col mt-3 mb-3 text-right">
                    {% bs_icon 'chat-right-dots' %}{{comments.count}}
                </div>
            </div>
            {% for comment in comments %}
            <div class="row border mt-3 mb-3 p-3">
                <div class="col">{{comment.评论}}</div>
                <div class="col text-right text-muted">{{comment.发布时间|date:'Y' }}年{{comment.发布时间|date:'m'
                    }}月{{comment.发布时间|date:'d' }}日 {{comment.发布时间|date:'h:i:s' }}</div>

            </div>
            {% endfor %}
            <div class="row">
                <form method="POST">
                    <div class="form-floating">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button class="btn btn-outline-dark" type="submit">发表</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-3 ml-2   d-none d-md-block">
            <div class="row border rounded pb-2 sticky-scroll">
                <div class="row no-gutters p-2 bg-light align-items-stretch mb-2">
                    <h4>其他问答</h4>
                </div>
                {% for obj in all_问答 %}
                <div class="row mb-4 mt-4">
                    <a href="{% url 'home:wendadetail' obj.id %}">
                        <div class="card border bg-light h-100 rounded w-100">
                            <div class="card-body pt-2 pb-1">
                                <div class="row">
                                    <div class="text-center text-white bg-secondary p-1 status-tab w-25 ">
                                        {{obj.序号}}
                                    </div>
                                    <h4 class="mt-2 card-title font-weight-bold">问题: {{obj.标题 }}</h4>
                                    <small class="text-muted">{{obj.更新时间|date:'Y' }}年{{obj.更新时间|date:'m'
                                        }}月{{obj.更新时间|date:'d' }}日 {{obj.更新时间|date:'h:i:s' }}</small>
                                    <div class="text-right ">{% bs_icon 'chat-right-dots' %}{{obj.comment_no}}</div>
                                </div>


                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <a class="nav-link" href="{% url 'home:wenda' %}">
                    <div class=" w-100 btn btn-outline-dark bg-light mb-2">
                        更多问答
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


</div>
{% endblock %}