.social-media-footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.social-media-footer li a {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000;
  margin:5px;
}

.social-media-footer li a i {
  font-size: 14px;
}

footer .footer-logo {
  width: 25%;
}

.btn-circle{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    text-decoration:none;
    border: 0.5px solid;
}

.search-button{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    text-decoration:none;
    border: 0.5px solid;
}
.search-bar{
    padding:5px;
    border: 1px solid;
    border-radius: 30px;
}

.search-input{
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    width: 150px;
}

.navbar-left-base li{
  list-style: none;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

.navbar-left-base ul{
  margin:0px;
}

.w-40 {
  width: 40% !important;
}

.btn-logout{
    padding:10px;
    border-radius: 5px;
}

.nav-link-sub {
  display: block;
  padding: 0.5rem 1rem;
  margin-left:0.5rem;
}

.nav-link-sub:hover, .nav-link-sub:focus {
  text-decoration: none;
  background-color:grey;
  color:white;
}

.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;
  line-height: 50px;

  transition: all .5s ease-in-out;
  height: 0;
 }

.bg-grey {
  background-color: grey;
}

#content-wrap {
  margin: 0 auto;    /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}

form{
    flex-shrink:0;
    width:100%;
    max-width:100%;
    padding-right:calc(var(--bs-gutter-x)/ 2);
    padding-left:calc(var(--bs-gutter-x)/ 2);
    margin-top:var(--bs-gutter-y)
}

.status-tab{
    border-radius: 5px;
}

.comment-edit{
   display: inline-block;
   border: 1px solid transparent;
   background-color:#FFF;
}

.comment-edit-btn:hover{
    background-color:black;
    color:white;
}

.comment-edit-btn{
  display: inline-block;
  font-weight: 400;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 8px 20px;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 0px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.comment-edit-btn:disabled,
.comment-edit-btn[disabled]{
    background-color: grey;
    color:#FFF;
}

.form-check-custom {
    position: relative;
    display: block;
    padding-left: 1.25rem;
    border: 1px solid;
}
.main-page-banner .main-page-banner-img{
    height: 400px;
}

.main-page-banner-img > img{
  width:100%;
  height:100%;
  object-fit:cover;
}

.content-list-img >img{
    width:100%;
    height:75px;
    object-fit:cover;
}

.content-list-date {
    position: absolute;
    bottom:0;
    right:2px;
}


.main-video .title {
    margin-top: 1rem;
}


.videos .video {
    position: relative;
    width: 100%;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 1rem;
    margin-top: .1rem;
    cursor: pointer;

    border-radius: .5rem;
}

.videos .video:hover {
    background-color: #0003;
    color: white;
}

.videos .active {
    background-color: #0003;
    color: white;
    border: 0.5px solid;
}

.videos .hidden {
  display: none !important;
}

.main-video video {
    width: 100%;
    border-radius: .5rem;

}


.video p {
   margin-left: 2.5rem;
}

.video h3 {
    width: 23rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font: 100 1rem sans-serif;
    padding: 0 .5rem;
}

.pdf-section {
     border:0.25px solid;
     border-color:#dddddd;
}
