.social-media-footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.social-media-footer li a {
  padding: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  color: #000;
  margin:5px;
}

.social-media-footer li a i {
  font-size: 14px;
}

footer .footer-logo {
  width: 25%;
}

.header-logo {
  width: 75%;
}

.btn-circle{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    text-decoration:none;
    border: 0.5px solid;
}

.search-button{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: transparent;
    text-decoration:none;
    border: 0.5px solid;
}
.search-bar{
    padding:5px;
    border: 1px solid;
    border-radius: 30px;
}

.search-input{
    border: 0;
    outline: 0;
    background: none;
    line-height: 40px;
    width: 150px;
}

.navbar-left-base li{
  list-style: none;
  color: #000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
}

.navbar-left-base ul{
  margin:0px;
}

.w-40 {
  width: 40% !important;
}

.btn-logout{
    padding:10px;
    border-radius: 5px;
}

.nav-link-sub {
  display: block;
  padding: 0.5rem 1rem;
  margin-left:0.5rem;
}

.nav-link-sub:hover, .nav-link-sub:focus {
  text-decoration: none;
  background-color:grey;
  color:white;
}

.expandable {
  background: #fff;
  overflow: hidden;
  color: #000;
  line-height: 50px;

  transition: all .5s ease-in-out;
  height: 0;
 }

.bg-grey {
  background-color: grey;
}

#content-wrap {
  margin: 0 auto;    /* Footer height */
}

#page-container {
  position: relative;
  min-height: 100vh;
}