{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col ">
            <h1>
                {{ yiling.标题 }}
            </h1>
            <div class="row ">
                <div class="col-md-10">
                    <h5 class="  text-muted">
                        原文标题:{{yiling.原文标题}}
                    </h5>
                    <h5 class=" text-muted">
                        译文作者:{{yiling.译文作者 }}
                    </h5>

                    <h5 class=" text-muted">
                        原文作者:{{yiling.原文作者 }}
                    </h5>
                </div>
                <div class="col text-right">
                    <h5 class=" text-md-right text-muted">
                        更新时间<br />
                        {{ yiling.更新时间|date:'Y' }}年{{ yiling.更新时间|date:'m' }}月{{ yiling.更新时间|date:'d' }}日
                    </h5>
                </div>
            </div>
            <hr class="hr-content mt-0">
        </div>
    </div>
    <div class="row">
        <p>
            {{yiling.译文内容|safe}}
        </p>
    </div>
    <div class="mb-4">
        <div class="mb-3">
            <h3>相关推荐</h3>
        </div>
        <div class="d-flex flex-wrap">
            {% for yiling in all_译林|slice:":3" %}
            <div class="col-12 col-md-4 mb-4">
                <a href="{% url 'home:yilingdetail' yiling.id %}">
                    <h4 class="font-weight-bold">{{ yiling.标题 }}</h4>
                </a>
                <div>{{ yiling.更新时间|date:"Y年m月d日" }}</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}