<ul class="navbar-nav">
    {% if perms.home.change_通讯 %}
    <li class="nav-item active" id="">
        <a class="active border nav-link text-center mb-1 mt-1 admin-nav-link 通讯"  href="{% url 'admin_task:content-item' content='通讯' task='content' %}">通讯</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='通讯' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_书讯 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 书讯" href="{% url 'admin_task:content-item' content='书讯' task='content' %}">书讯</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='书讯' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_书评 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 书评" href="{% url 'admin_task:content-item' content='书评' task='content' %}">书评</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='书评' task='content' %}">内容编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='书评' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_观点 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 观点" href="{% url 'admin_task:content-item' content='观点' task='content' %}">观点</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='观点' task='content' %}">内容编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='观点' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_文艺 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 文艺" href="{% url 'admin_task:content-item' content='文艺' task='content' %}">文艺</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='文艺' task='content' %}">内容编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='文艺' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_问答 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 问答" href="{% url 'admin_task:content-item' content='问答' task='content' %}">问答</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='问答' task='content' %}">问答编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border question" href="{% url 'admin_task:content-item' content='问答' task='question' %}">提问审查</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='问答' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_视频 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 视频" href="{% url 'admin_task:content-item' content='视频' task='content' %}">视频</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='视频' task='content' %}">内容编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='视频' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_译林 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 译林" href="{% url 'admin_task:content-item' content='译林' task='content' %}">译林</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='译林' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if  perms.home.change_文史 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 文史" href="{% url 'admin_task:content-item' content='文史' task='content' %}">文史</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content " href="{% url 'admin_task:content-item' content='文史' task='content' %}">内容编辑</a>
            </li>
            <li class="nav-item-sub active text-left mb-1 mt-1">
                <a class="nav-link-sub active border comment" href="{% url 'admin_task:content-item' content='文史' task='comment' %}">评论审查</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_论文 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 论文" href="{% url 'admin_task:content-item' content='论文' task='content' %}">论文</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='论文' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_经训 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 经训" href="{% url 'admin_task:content-item' content='经训' task='content' %}">经训</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='经训' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_古籍 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 古籍" href="{% url 'admin_task:content-item' content='古籍' task='content' %}">古籍</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='古籍' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    {% if perms.home.change_书库 %}
    <li class="nav-item active ">
        <a class="nav-link active border text-center mb-1 mt-1 admin-nav-link 书库" href="{% url 'admin_task:content-item' content='书库' task='content' %}">书库</a>
        <ul class="navbar-nav navbar-nav-sub" hidden>
            <li class="nav-item-sub active text-left mb-1 mt-1 ">
                <a class="nav-link-sub active border content" href="{% url 'admin_task:content-item' content='书库' task='content' %}">内容编辑</a>
            </li>
        </ul>
    </li>
    {% endif %}
    <li class="nav-item active border text-center mb-1 mt-1">
        <a class="nav-link active" href="{% url 'admin_task:logout' %}">登出</a>
    </li>
</ul>