{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block title %}
书味后台控制面板
{% endblock %}
{% block content %}
<div class="container justify-content-center h-100" id="content-wrap">
    <div class="row">
        <div class="col-3 h-100 pb-4 m-2">
            {% include 'admin/side-nav.html' %}
        </div>
        <div class="col text-center pb-4 m-4 h-100 admin-main-content" id="content">
           <div class="row">
               <div class="col p-2">
                   <h3>译林</h3>
               </div>
               <div class="col-2 text-right pt-1">
                   <a class="nav-link-sub active border btn btn-primary" href="{% url 'admin_task:译林_add' %}">添加 {% bs_icon 'plus-circle' size='0.75em' %}</a>
               </div>
           </div>
            <div class="row border p-2 mt-2">
            <table class="table">
                <tr class="border-bottom">
                   <th>序号</th>
                    <th>项目</th>
                    <th>更新日期</th>
                    <th>发布状态</th>
                    <th>操作</th>
                </tr>
                {% for obj in all_通讯 %}
                <tr class="p-0">
                    <td>{{obj.id}}</td>
                    <td>{{obj.标题}}</td>
                    <td>{{obj.更新时间|date:'Y-m-d H:i' }}</td>
                    <td>
                    {% if obj.发布状态 %}
                        已发布
                    {% else %}
                        未发布
                    {% endif %}
                    </td>
                    <td>
                        <button class="btn btn-info p-2" type="button"><a href="" class="text-white">查看{% bs_icon 'file-text' size='0.75em' %}</a></button>
                        <button class="btn btn-success p-2" type="button"><a href="" class="text-white">编辑{% bs_icon 'pencil' size='0.75em' %}</a></button>
                        <button class="btn btn-danger p-2" type="button"><a href="" class="text-white">删除{% bs_icon 'trash3' size='0.75em' %}</a></button>
                    </td>
                </tr>
                {% endfor %}
            </table>
                {{content}}
            </div>
        </div>
    </div>
</div>
<script>
    var content_title ="."+"{{content_title|escapejs }}";
    var task = "."+"{{task|escapejs }}";
</script>
{% endblock %}