{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block title %}
书味后台控制面板
{% endblock %}
{% block content %}
<div class="container justify-content-center h-100" id="content-wrap">
    <div class="row">
        <div class="col-3 h-100 pb-4 m-2">
            {% include 'admin/side-nav.html' %}
        </div>
        <div class="col text-center pb-4 m-4 h-100 admin-main-content" id="content">
           <div class="row">
               <div class="col p-2">
                   <h3>通讯</h3>
               </div>
               <div class="col-2 text-right pt-1">
                   <button class="btn btn-primary " type="button">添加 {% bs_icon 'plus-circle' size='0.75em' %}</button>
               </div>
           </div>
            <div class="row border p-2 mt-2">
            <table class="table">
                <tr class="border-bottom">
                   <th>序号</th>
                    <th>项目</th>
                    <th>发布日期</th>
                    <th>操作</th>
                </tr>
                {% for obj in all_通讯 %}
                <tr class="p-0">
                    <td>{{obj.id}}</td>
                    <td>{{obj.标题}}</td>
                    <td>{{obj.发布时间|date:'Y-m-d H:i' }}</td>
                    <td>
                        <button class="btn btn-info p-2" type="button">查看{% bs_icon 'file-text' size='0.75em' %}</button>
                        <button class="btn btn-success p-2" type="button">编辑{% bs_icon 'pencil' size='0.75em' %}</button>
                        <button class="btn btn-danger p-2" type="button">删除{% bs_icon 'trash3' size='0.75em' %}</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}