{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}
{% load thumbnail %}
{% block content %}
<div class="container" id="content-wrap">
  <div class="row">
    <div class="col-lg-8">
      <div class="owl-carousel owl-theme" id="main-banner-carousel">
        <!-- 观点 -->
        {% if all_观点.first %}
        <a href="{% url 'home:guandiandetail' all_观点.first.id %}" class="text-decoration-none">
          <div class="item">
            <div class="carousel-content-wrapper mb-2 main-page-banner w-100">
              <div class="carousel-content tongxun-banner-box">
                <h1 class="font-weight-bold">{{all_观点.first.标题|truncatechars:15 }}</h1>
                <h5 class="font-weight-normal  m-0">{{all_观点.first.内容|striptags|safe|truncatechars:50}}</h5>
                <p class="text-color m-0 pt-1 d-flex align-items-center">
                  <span class="fs-12 mr-1">观点 --{{all_观点.first.更新时间|date:'Y' }}年{{all_观点.first.更新时间|date:'m' }}月{{all_观点.first.更新时间|date:'d' }}日 {{all_观点.first.更新时间|date:'h:i:s' }}</span>
                </p>
              </div>
              <div class="main-page-banner-img carousel-image img-fluid">
                {% if all_观点.first.图片 %}
                <img class="img-loader" src="{% thumbnail all_观点.first.图片 '1920' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}" alt="" />
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        <!-- 文艺 -->
        {% if all_文艺.first %}
        <a href="{% url 'home:wenyidetail' all_文艺.first.id %}" class="text-decoration-none">
          <div class="item">
            <div class="carousel-content-wrapper mb-2 main-page-banner ">
              <div class="carousel-content tongxun-banner-box">
                <h1 class="font-weight-bold">{{all_文艺.first.标题|truncatechars:15 }}</h1>
                <h5 class="font-weight-normal  m-0">{{all_文艺.first.内容|striptags|safe|truncatechars:50}}</h5>
                <p class="text-color m-0 pt-1 d-flex align-items-center">
                  <span class="fs-12 mr-1">文艺 --{{all_文艺.first.更新时间|date:'Y' }}年{{all_文艺.first.更新时间|date:'m' }}月{{all_文艺.first.更新时间|date:'d' }}日 {{all_文艺.first.更新时间|date:'h:i:s' }}</span>
                </p>
              </div>
              <div class="main-page-banner-img carousel-image img-fluid">
                {% if all_文艺.first.图片 %}
                <img class="img-loader" src="{% thumbnail all_文艺.first.图片 '1920' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}" alt="" />
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        <!-- 译林 -->
        {% if all_译林.first %}
        <a href="{% url 'home:yilingdetail' all_译林.first.id %}" class="text-decoration-none">
          <div class="item">
            <div class="carousel-content-wrapper mb-2 main-page-banner ">
              <div class="carousel-content tongxun-banner-box">
                <h1 class="font-weight-bold">{{all_译林.first.标题|truncatechars:15 }}</h1>
                <p class="text-color m-0 pt-2 d-flex align-items-center">
                  <span class="fs-12 mr-1">译林 --{{all_译林.first.更新时间|date:'Y' }}年{{all_译林.first.更新时间|date:'m' }}月{{all_译林.first.更新时间|date:'d' }}日 {{all_译林.first.更新时间|date:'h:i:s' }}</span>
                </p>
              </div>
              <div class="main-page-banner-img carousel-image img-fluid">
                {% if all_译林.first.图片 %}
                <img class="img-loader" src="{% thumbnail all_译林.first.图片 '1920' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}" alt="" />
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        <!-- 文史 -->
        {% if all_文史.first %}
        <a href="{% url 'home:wenshidetail' all_文史.first.id %}" class="text-decoration-none">
          <div class="item">
            <div class="carousel-content-wrapper mb-2 main-page-banner ">
              <div class="carousel-content tongxun-banner-box">
                <h1 class="font-weight-bold">{{all_文史.first.标题|truncatechars:15 }}</h1>
                <h5 class="font-weight-normal  m-0">{{all_文史.first.内容|striptags|safe|truncatechars:50}}</h5>
                <p class="text-color m-0 pt-1 d-flex align-items-center">
                  <span class="fs-12 mr-1">文史 --{{all_文史.first.更新时间|date:'Y' }}年{{all_文史.first.更新时间|date:'m' }}月{{all_文史.first.更新时间|date:'d' }}日 {{all_文史.first.更新时间|date:'h:i:s' }}</span>
                </p>
              </div>
              <div class="main-page-banner-img carousel-image img-fluid">
                {% if all_文史.first.图片 %}
                <img class="img-loader" src="{% thumbnail all_文史.first.图片 '1920' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}" alt="" />
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-4 ml-0">
      <div class="row text-secondary">
          <div class="col d-flex position-relative float-left mt-2">
            <a href="{% url 'home:tongxun' %}" class="text-decoration-none">
              <h3 class="section-title">通讯</h3>
            </a>
          </div>
          <div class="col  float-right text-right mt-2">
            <a href="{% url 'home:tongxun' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
      </div>
      {% for obj in all_通讯 %}
      <div class="row mr-1 ml-1">
        <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:tongxundetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
            </div>
        {% if forloop.last != True %}
          <div class="border-bottom"></div>
        {% endif %}
      </div>

      {% endfor %}
    </div>
  </div>
  <div class="news">
    <div class="row pb-1">
      <div class="col-lg-4">
        <div class="row">
          <div class="col d-flex position-relative float-left">
            <a href="{% url 'home:shuxun' %}" class="text-decoration-none">
              <h3 class="section-title">书讯</h3>
            </a>
          </div>
          <div class="col float-right text-right">
            <a href="{% url 'home:shuxun' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
        </div>
        {% for obj in all_书讯 %}
        <div class="row mr-1">
            <div class="col-5 pt-1 pb-1 no-gutters">
              <div class="d-flex align-items-center content-list-img">
                {% if obj.图片 %}
                <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:shuxundetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted blockquote-footer-main">{{obj.作者}}</small>
            </div>
            {% if forloop.last != True %}
              <div class="border-bottom"></div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col d-flex position-relative float-left">
            <a href="{% url 'home:shuping' %}" class="text-decoration-none">
              <h3 class="section-title">书评</h3>
            </a>
          </div>
          <div class="col  float-right text-right">
            <a href="{% url 'home:shuping' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
        </div>
        {% for obj in all_书评 %}
        <div class="row mr-1">
            <div class="col-5 pt-1 pb-1 no-gutters">
              <div class="d-flex align-items-center content-list-img">
                {% if obj.图片 %}
                <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:shupingdetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted blockquote-footer-main">{{obj.书评作者}}</small>
            </div>
            {% if forloop.last != True %}
              <div class="border-bottom"></div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col d-flex position-relative float-left">
            <a href="{% url 'home:guandian' %}" class="text-decoration-none">
              <h3 class="section-title">观点</h3>
            </a>
          </div>
          <div class="col  float-right text-right">
            <a href="{% url 'home:guandian' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
        </div>
        {% for obj in all_观点 %}
        <div class="row mr-1">
          <div class="col-5 pt-1 pb-1 no-gutters">
            <div class="d-flex align-items-center content-list-img">
              {% if obj.图片 %}
              <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
              {% else %}
              <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
              {% endif %}
            </div>
          </div>
          <div class="col pt-1 pb-1 no-gutters pl-0">
            <a href="{% url 'home:guandiandetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
            <br/>
            <small class="text-muted blockquote-footer-main">{{obj.作者}}</small>
          </div>
          {% if forloop.last != True %}
          <div class="border-bottom"></div>
          {% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="art-video">
    <div class="row">
      <div class="col-lg">
        <div class="row">
          <div class="col d-flex position-relative float-left">
            <a href="{% url 'home:wenyi' %}" class="text-decoration-none">
              <h3 class="section-title">文艺</h3>
            </a>
          </div>
          <div class="col  float-right text-right">
            <a href="{% url 'home:wenyi' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
        </div>
        {% for obj in all_文艺 %}
        <div class="row mr-1">
            <div class="col-5 pt-1 pb-1 no-gutters">
              <div class="d-flex align-items-center content-list-img">
                {% if obj.图片 %}
                <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                {% else %}
                <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                {% endif %}
              </div>
            </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:wenyidetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted blockquote-footer-main">{{obj.作者}}</small>
            </div>
            {% if forloop.last != True %}
              <div class="border-bottom"></div>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="border rounded bg-light col-lg-8 pt-2">
        <div class="row">
          <div class="col d-flex position-relative float-left">
            <a href="{% url 'home:shiping' %}" class="text-decoration-none">
              <h3 class="section-title">视频</h3>
            </a>
          </div>
          <div class="col float-right text-right">
            <a href="{% url 'home:shiping' %}" class="text-decoration-none">
              <h3>{% bs_icon 'chevron-right' %}</h3>
            </a>
          </div>
        </div>
        <div class="row row-md row-lg mb-2">
          <div class="col col-md-7 col-lg-7 ml-2 mr-2 p-1 bg-dark rounded align-item-center">
            <span class="main-video">
              <video src="{{ MEDIA_URL }}{{ all_视频.first.视频文件}}" class="w-100 h-100" controls></video>
            </span>
          </div>
          <div class="col-md col-lg no-gutters pl-0 videos">
            <div class="row ml-1 mr-1 mt-1">
              <h4 class="pb-2 pl-1 pr-1 border-bottom-solid">视频列表</h4>
            </div>
            {% for obj in all_视频 %}
            <div class="row row-md row-lg video no-gutters pt-1 pb-1 mr-2" data-value="{{ MEDIA_URL }}{{obj.视频文件}}">
              <div class="col-8 col-md-8 col-lg-8 no-gutters">
                <h5 class="title"><strong>{{obj.标题|truncatechars:10}}</strong></h5>
                <small class="date text-muted mt-1 text-right">{{obj.更新时间|date:'Y' }}年{{obj.更新时间|date:'m' }}月{{obj.更新时间|date:'d' }}日 {{obj.更新时间|date:'h:i:s' }}</small>
              </div>
              <div class="col col-md col-lg  svg vid-ctrl text-right">
                {% bs_icon 'play-circle' size='1.5em' extra_classes='ml-1 play' %}
                {% bs_icon 'pause-circle' size='1.5em' extra_classes='ml-1 pause hidden' %}
              </div>
            </div>
            {% if forloop.last != True %}
              <div class="border-bottom"></div>
            {% endif %}
        {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="translate">
    <div class="row mt-1">
      <div class="col no-gutters">
        <div class="row">
          <div class="col-lg">
            <div class="row">
              <div class="col d-flex position-relative float-left">
                <a href="{% url 'home:yiling' %}" class="text-decoration-none">
                  <h3 class="section-title">译林</h3>
                </a>
              </div>
              <div class="col  float-right text-right">
                <a href="{% url 'home:yiling' %}" class="text-decoration-none">
                  <h3>{% bs_icon 'chevron-right' %}</h3>
                </a>
              </div>
            </div>
            {% for obj in all_译林 %}
            <div class="row mr-1">
              <div class="col-5 pt-1 pb-1 no-gutters">
                <div class="d-flex align-items-center content-list-img">
                  {% if obj.图片 %}
                  <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                  {% else %}
                  <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                  {% endif %}
                </div>
              </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:yilingdetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted blockquote-footer-main">{{obj.译文作者}}</small>
            </div>
            {% if forloop.last != True %}
            <div class="border-bottom"></div>
            {% endif %}
            </div>
            {% endfor %}
          </div>
          <div class="col-lg">
            <div class="row">
              <div class="col d-flex position-relative float-left">
                <a href="{% url 'home:wenshi' %}" class="text-decoration-none">
                  <h3 class="section-title">文史</h3>
                </a>
              </div>
              <div class="col  float-right text-right">
                <a href="{% url 'home:wenshi' %}" class="text-decoration-none">
                  <h3>{% bs_icon 'chevron-right' %}</h3>
                </a>
              </div>
            </div>
            {% for obj in all_文史 %}
            <div class="row mr-1">
              <div class="col-5 pt-1 pb-1 no-gutters">
                <div class="d-flex align-items-center content-list-img">
                  {% if obj.图片 %}
                  <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                  {% else %}
                  <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                  {% endif %}
                </div>
              </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:wenshidetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted blockquote-footer-main">{{obj.作者}}</small>
            </div>
            {% if forloop.last != True %}
            <div class="border-bottom"></div>
            {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="row">
          <div class="col-lg">
            <div class="row">
              <div class="col d-flex position-relative float-left">
                <a href="{% url 'home:wenda' %}" class="text-decoration-none">
                  <h3 class="section-title">问答</h3>
                </a>
              </div>
              <div class="col float-right text-right">
                <a href="{% url 'home:wenda' %}" class="text-decoration-none">
                  <h3>{% bs_icon 'chevron-right' %}</h3>
                </a>
              </div>
            </div>
            {% for obj in all_问答 %}
            <div class="row no-gutters mr-1">
              <div class="col-2 pt-1 pb-1 no-gutters">
                <div class="text-center text-white bg-secondary p-1 mr-1 mx-auto status-tab ">
                  {{obj.序号}}
                </div>
              </div>
              <div class="col ml-2 pt-1 pb-1 no-gutters">
                <a href="{% url 'home:wendadetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:15}}</a>
                <br/>
                  {% if obj.参考问答 %}
                    <small class="text-muted">{{obj.参考问答项目.答案|striptags|safe|truncatechars:30}}</small>
                  {% else %}
                    <small class="text-muted">{{obj.答案|striptags|safe|truncatechars:30}}</small>
                  {% endif %}
              </div>
            </div>
            {% if forloop.last != True %}
            <div class="border-bottom"></div>
            {% endif %}
            {% endfor %}

          </div>
          <div class="col-lg">
            <div class="row">
                <div class="col d-flex position-relative float-left">
                  <a href="{% url 'home:jingxun' %}" class="text-decoration-none">
                    <h3 class="section-title">经训</h3>
                  </a>
                </div>
                <div class="col  float-right text-right">
                  <a href="{% url 'home:jingxun' %}" class="text-decoration-none">
                    <h3>{% bs_icon 'chevron-right' %}</h3>
                  </a>
                </div>
              </div>
              {% for obj in all_经训 %}
              <div class="row mr-1">
                <div class="col-5 pt-1 pb-1 no-gutters">
                <div class="d-flex align-items-center content-list-img">
                  {% if obj.图片 %}
                  <img class="img-loader" src="{% thumbnail obj.图片 '500' as im %}{{ MEDIA_URL }}{{ im }}{% endthumbnail %}">
                  {% else %}
                  <img class="img-loader" src="{% static 'images/default-placeholder.png' %}" alt="" />
                  {% endif %}
                </div>
              </div>
            <div class="col pt-1 pb-1 no-gutters pl-0">
              <a href="{% url 'home:jingxundetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a>
              <br/>
              <small class="text-muted">章节数量: {{obj.章节_经训_set.count}}</small>
            </div>
            {% if forloop.last != True %}
            <div class="border-bottom"></div>
            {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-4 pb-3 text-secondary">
        <div class="row-md row-lg text-center p-1 pdf-title bg-secondary rounded">
          <h4 class="text-white"><strong>文档区</strong></h4>
        </div>
        <div class="row-md row-lg d-flex flex-column">
          {% for obj in all_论文 %}
          <div class="col-lg col-md mt-1 mb-1">
            <div class="card border bg-light h-100 w-100 rounded p-1 d-flex flex-column">
              <div class="row">
                <div class="col-2 m-2 border-end text-center ">
                  <span class="align-middle">

                    <a href="{% url 'home:lunwen' %}" class="text-decoration-none">
                      <h4><strong>论文</strong></h4>
                      {% bs_icon 'book' size='1.5em'%}
                    </a>
                  </span>
                </div>
                <div class="col-9 mt-2 no-gutters p-0">
                  <p class="display-7"><a href="{% url 'home:lunwendetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a></p>
                  <small class="text-muted blockquote-footer">{{obj.作者}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% for obj in all_古籍 %}
          <div class="col-lg-12 mt-1 mb-1">
            <div class="card border bg-light h-100 rounded p-1 d-flex flex-column">
              <div class="row">
                <div class="col-2 m-2 border-end text-center ">
                  <span class="align-middle">

                    <a href="{% url 'home:lunwen' %}" class="text-decoration-none">
                      <h4><strong>古籍</strong></h4>
                      {% bs_icon 'book' size='1.5em'%}
                    </a>
                  </span>
                </div>
                <div class="col-9 mt-2 no-gutters p-0">
                  <p class="display-7"><a href="{% url 'home:lunwendetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a></p>
                  <small class="text-muted blockquote-footer">{{obj.作者}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
          {% for obj in all_书库 %}
          <div class="col-lg-12 mt-1 mb-1">
            <div class="card border bg-light h-100 rounded p-1 d-flex flex-column">
              <div class="row">
                <div class="col-2 m-2 border-end text-center ">
                  <span class="align-middle">

                    <a href="{% url 'home:lunwen' %}" class="text-decoration-none">
                      <h4><strong>书库</strong></h4>
                      {% bs_icon 'book' size='1.5em'%}
                    </a>
                  </span>
                </div>
                <div class="col-9 mt-2 no-gutters p-0">
                  <p class="display-7"><a href="{% url 'home:lunwendetail' obj.id %}" class="text-decoration-none">{{obj.标题|truncatechars:30}}</a></p>
                  <small class="text-muted blockquote-footer">{{obj.作者}}</small>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
        <!-- main-panel ends -->
{% endblock %}