{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-4 text-center card-img-top-zoom">
            <img src="{{ shuxun.图片.url }}" alt="{{ shuxun.标题 }}" class="img-fluid" width="250">
        </div>
        <div class="col-md-8">
            <h2><strong>{{ shuxun.标题 }}</strong></h2>
            <p><strong>作者:</strong> {{ shuxun.作者 }}</p>
            <p><strong>序号:</strong> {{ shuxun.序号 }}</p>
            <p><strong>更新时间:</strong> {{ shuxun.更新时间|date:"Y年m月d日 " }}</p>
            <p><strong>简介:</strong> {{ shuxun.简介|safe }}</p>
            <!-- 其他详细信息字段 -->
        </div>
    </div>
    <hr class="border-4 bg-dark">
    <div class="mb-4 ">
        <div class="mb-3">
            <h3>相关推荐</h3>
        </div>
        <div class="d-flex flex-wrap ">
            {% for obj in all_书讯|slice:":4" %}
            <div class="col-md-3 mb-4 ">
                <div class="card border bg-light rounded">
                    <div class="d-flex justify-content-between">
                        <div class="card-img-top-zoom">
                            <img src="{{ obj.图片.url }}" alt="" srcset="" height="100" width="100">
                        </div>
                        <div class="p-2 mt-3 ml-0">
                            <a href="{% url 'home:shuxundetail' obj.id %}">
                                <h5 class="font-weight-bold">{{ obj.标题 }}</h5>
                            </a>
                            <small class="text-muted card-date">{{obj.更新时间|date:'Y-m-d ' }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}