{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4 ">
        <div class="col-md-3 text-center card-img-top-zoom bg-light rounded border">
            <img src="{{ MEDIA_URL }}{{ shuxun.图片 }}" alt="{{ shuxun.标题 }}" class="img-fluid" width="250">
        </div>
        <div class="col-md-9">
            <h1><strong>{{ shuxun.标题 }}</strong></h1>
            <p><strong>作者:</strong> {{ shuxun.作者 }}</p>
            <p><strong>出版社:</strong> {{ shuxun.出版社 }}</p>
            <p><strong>出版年:</strong> {{ shuxun.出版年|date:'Y' }}年{{ shuxun.出版年|date:'m' }}月</p>
            <p><strong>页数:</strong> {{ shuxun.页数 }}</p>
            <p><strong>定价:</strong> {{ shuxun.定价 }}</p>
            <p><strong>装帧:</strong> {{ shuxun.装帧 }}</p>
            <p><strong>ISBN:</strong> {{ shuxun.ISBN }}</p>
        </div>
    </div>
    <div class="row mt-3">
  
            <p><strong>内容简介:</strong> {{ shuxun.内容简介|safe }}</p>

        
        <p><strong>作者简介:</strong> {{ shuxun.作者简介|safe }}</p>

        <div class="container mb-4">
            <div class="row">
              <div class="col-md-12">
                <p><strong>目录:</strong> </p>
                <div id="fullContent" class="collapse">
                  {{ shuxun.目录|safe }}
                </div>
                <button id="toggleButton" class="btn btn-link" type="button" data-toggle="collapse" data-target="#fullContent" aria-expanded="false" aria-controls="fullContent">
                  展开
                </button>
              </div>
            </div>
          </div>
          <div>
            <p><strong>前言:</strong> </p>
            <p>{{ shuxun.前言|safe }}</p>
            <p class="text-right">{{shuxun.作者}}</p>
          </div>
       
    </div>
    <hr class="border-4 bg-dark">
    <div class="mb-4 ">
        <div class="mb-3">
            <h3>相关推荐</h3>
        </div>
        <div class="d-flex flex-wrap ">
            {% for obj in all_书讯|slice:":4" %}
            <div class="col-md-3 mb-4 ">
                <div class="card border bg-light rounded">
                    <div class="d-flex justify-content-between">
                        <div class="card-img-top-zoom">
                            <img src="{{ MEDIA_URL }}{{ obj.图片}}" alt="" srcset="" height="100" width="100">
                        </div>
                        <div class="p-2 mt-3 ml-0">
                            <a href="{% url 'home:shuxundetail' obj.id %}">
                                <h5 class="font-weight-bold">{{ obj.标题|truncatechars:7 }}</h5>
                            </a>
                            <small class="text-muted card-date">{{obj.更新时间|date:'Y-m-d ' }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}