{% extends 'admin/经训/经训_edit.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block chapter %}
<div class="border row p-4 mt-3">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ 章节_form.media }}
        {{ 章节_form.章节|as_crispy_field }}
        {{ 章节_form.内容|as_crispy_field}}

        <div class="form-row">
            <div class="form-group col">
                <button type="submit" class="btn btn-primary w-100" name="submit-type" value="save">保存更改</button>
            </div>

            <div class="form-group col-1">
                <a href="{% url 'admin_task:content-item-delete' content='经训' id=chapter.id task='chapter' %}" onclick="return confirm('确认删除此经训章节?');">
                    {% bs_icon 'trash3' size='1.5em' color='red' %}
                </a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
