{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% load static %}
{% block title %}
书味后台控制面板
{% endblock %}
{% block content %}
<div class="container justify-content-center h-100" id="content-wrap">
    <div class="row">
        <div class="col-3 h-100 pb-4 m-2">
            {% include 'admin/side-nav.html' %}
        </div>
        <div class="col  pb-4 m-4 h-100 admin-main-content" id="content">
           <div class="row text-center">
               <div class="col p-2">
                   <h3>经训详情</h3>
               </div>
               <div class="col-4 text-right pt-1">
                   <a class="nav-link-sub active border btn btn-primary" href="{% url 'admin_task:content-item' content='经训' task='content' %}">全部经训 {% bs_icon 'list' size='0.75em' %}</a>
               </div>
           </div>
            <div class="border p-4 mt-3">

                <div class="row">
                    <div class="col bold text-right"> 更新时间：{{content_item.更新时间|date:'Y' }}年{{content_item.更新时间|date:'m' }}月{{content_item.更新时间|date:'d' }}日 {{content_item.更新时间|date:'h:i:s' }} </div>
                </div>
                <div class="row px-3 align-items-center">
                        <div class="strong display-2">{{content_item.标题}}</div>
                        {% if content_item.发布状态 %}
                            <div class="border h-50 p-1 btn-success status-tab mx-4 small">已发布</div>
                        {% else %}
                            <div class="border h-50 p-1 btn-secondary status-tab mx-4 small">未发布</div>
                        {% endif %}
                </div>
                <div class="row">
                        <div class="col-4">
                            {% if content_item.图片 %}
                                <img src="{{ MEDIA_URL }}{{ content_item.图片}}" class="border w-100" >
                            {% else %}
                                暂无上传照片
                            {% endif %}
                        </div>
                        <div class="col">
                            <strong>章节</strong>&nbsp;{{content_item.章节_经训_set.count}}
                            <p class="mt-1">
                            {% if content_item.章节_经训_set.count > 0 %}
                                {% for obj in content_item.章节_经训_set.all %}
                                    {% if chapter %}
                                        {% if obj.id == chapter.id %}
                                            <button class="btn btn-info mb-2" disabled>{{obj.章节}}</button>
                                        {% else %}
                                            <a href="{% url 'admin_task:经训_章节_detail' pk=content_item.id chp_id=obj.id %}"><button class="btn btn-info mb-2">{{obj.章节}}</button></a>

                                        {% endif %}

                                    {% else %}
                                        <a href="{% url 'admin_task:经训_章节_detail' pk=content_item.id chp_id=obj.id %}"><button class="btn btn-info mb-2">{{obj.章节}}</button></a>

                                    {% endif %}
                                {% endfor %}
                            {% else %}
                            暂无任何添加章节
                            {% endif %}
                            </p>
                        </div>
                </div>
                 <div class="row pt-3">
                     <div class="col">
                         <a href="{% url 'admin_task:经训_edit' content_item.id %}" class="btn-text">
                            <button class="btn btn-success w-100" type="button">
                                编辑{% bs_icon 'pencil' size='1.5em' %}
                            </button>
                        </a>
                     </div>
                     <div class="col">
                         <a href="{% url 'admin_task:content-item-delete' content=content_title id=content_item.id task='content' %}" onclick="return confirm('确认删除此经训资料?');">
                            <button class="btn btn-danger w-100" type="button">
                                 删除{% bs_icon 'trash3' size='1.5em' %}
                            </button>
                         </a>
                     </div>
                </div>
            </div>

                {% block chapter %}
                {% endblock %}
        </div>
    </div>
</div>
<script>
    var content_title ="."+"{{content_title|escapejs }}";
    var task = "."+"{{task|escapejs }}";
</script>
{% endblock %}