{% extends 'base_admin.html' %}
{% load crispy_forms_tags %}
{% load bootstrap_icons %}
{% block title %}
书味后台控制面板
{% endblock %}
{% block content %}
<div class="container justify-content-center h-100" id="content-wrap">
    <div class="row">
        <div class="col-3 h-100 pb-4 m-2">
            {% include 'admin/side-nav.html' %}
        </div>
        <div class="col pb-4 m-4 h-100 admin-main-content" id="content">
            <div class="row text-center">
                <div class="col p-2">
                    <h3>经训添加</h3>
                </div>
                <div class="col-4 text-right pt-1">
                    <a class="nav-link-sub active border btn btn-primary" href="{% url 'admin_task:content-item' content='经训' task='content' %}">全部经训 {% bs_icon 'list' size='0.75em' %}</a>
                </div>
            </div>
            <div class="border row p-4 mt-3">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ 经训_form|crispy }}
                    <div class="form-row" id="img-preview-div" hidden>
                            图片预览<br/>
                            <img src="#" id="img-preview" class="w-100 border m-2">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-3" name="submit-type" value="save">保存并添加章节</button>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    var content_title = "." + "{{content_title|escapejs }}";
    var task = "." + "{{task|escapejs }}";
</script>
{% endblock %}
