{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container ">
    <div class="card text-bg-dark mt-3 mb-3">
        <img src="{% static 'images/about_us_1.jpg' %}" class="card-img" height="300" width="1000"
            style="border-radius: 50px; filter: brightness(0.7);">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h1 class="card-title text-white "><strong>关于书味</strong></h1>
        </div>
    </div>
    <hr style="width: 80%;">
    <div class="row d-flex justify-content-between ">
        <div >
            <img src="{% static 'images/about_us_2.png' %}" alt="" height="400" width="200">
        </div>
        <div >
            <p><strong>【定位】</strong></p>
            <p>旨在构建一个思维的开阔之地，品读传世经典，保存微光火种，让哲思灵源不期而遇、共振以鸣。</p>
            <p><strong>【我们的故事】</strong></p>
            <p> “客散茶甘留舌本，睡馀书味在胸中。”

                宋·陆游《晚兴》</p>
            <p> 这是这个故事的起点，一群人慕名而来，围坐在一起，愉快地喝茶读书。承蒙主恩，在因我们的阅历而显得有限的书页上，因为老师的解读，一幅如大海般宽广的书卷平躺在历史的长河中，无限地延展开来。在这幅书卷中，我们居然也浅显地触碰到“那横卧着的整个过去的灵魂”，也开始在小我中长出比较宽广的理想，开始有了在未来留下些对世界有益的些微的痕迹的希冀。
            </p>

            <p> 这些对过去的思考、对现状的无力和挣扎着对未来产生的希望掺杂在一起，产生了想“为我们的Ummah做点什么”的意愿，带着这样目前看来还有点遥远的愿望，我们来到了你的面前。你就是我们千里之行始于足下的第一步，我们想和你，和更多的人一起迈出下一步，一步一个脚印，一起读书，一起在“每一条真理面前停留”，一起为这个最好和最坏的时代，留下一些痕迹，并让它传承下去。
            </p>

        </div>
    </div>
</div>
{% endblock %}