{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
    <div class="card mt-3 mb-3">
        <img src="{% static 'images/contact_us.jpg' %}" class="card-img w-100"
            style="border-radius: 50px; filter: brightness(0.7);height:350px;object-fit:cover;">
        <div class="card-img-overlay d-flex align-items-center justify-content-center">
            <h1 class="card-title text-white "><strong>联系我们</strong></h1>
        </div>
    </div>

    <div class="row d-flex justify-content-center mb-4  ">
        <form action="" method="post" class="border p-4 " style="border-radius: 10px;">
            {% csrf_token %}
            {{form.邮箱|as_crispy_field }}
            {{form.主题|as_crispy_field }}
            {{form.内容|as_crispy_field }}
            <button type="submit" class="btn btn-primary mb-3">提交</button>
        </form>
    </div>
</div>
{% endblock %}
