{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-4 text-center card-img-top-zoom">
            <img src="{{ shuku.图片.url }}" alt="{{ shuku.标题 }}" class="img-fluid" width="250">
        </div>
        <div class="col-md-8">
            <h2><strong>{{ shuku.标题 }}</strong></h2>
            <p><strong>作者:</strong> {{ shuku.作者 }}</p>
            <p><strong>序号:</strong> {{ shuku.序号 }}</p>
            <p><strong>更新时间:</strong> {{ shuku.更新时间|date:"Y年m月d日 " }}</p>
            <p><strong>简介:</strong> {{ shuku.简介 }}</p>
            <!-- 其他详细信息字段 -->
        </div>

        {% if shuku.文档 %}
        <div class="_df_book border mt-4 rounded" height="500" width="100%" webgl="true" backgroundcolor="dark"
            source="{{ shuku.文档.url }}" id="df_manual_book" style="width:100%">
        </div>
        {% else %}
        暂无上传文档
        {% endif %}
    </div>
    <div class="mb-4 ">
        <div class="mb-3">
            <h3>相关推荐</h3>
        </div>
        <div class="d-flex flex-wrap ">
            {% for shuku in all_书库|slice:":4" %}
            <div class="col-md-3 mb-4 ">
                <div class="card border bg-light rounded">
                    <div class="d-flex justify-content-between">
                        <div class="card-img-top-zoom">
                            <img src="{{ shuku.图片.url }}" alt="" srcset="" height="100" width="100">
                        </div>
                        <div class="p-2 mt-3">
                            <a href="{% url 'home:detail' shuku.id %}">
                                <h4 class="font-weight-bold">{{ shuku.标题 }}</h4>
                            </a>
                            <p>{{ shuku.更新时间|date:"Y年m月d日" }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}