{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-md-4 text-center card-img-top-zoom">
            <img src="{{ shuku.图片.url }}" alt="{{ shuku.标题 }}" class="img-fluid" width="250">
        </div>
        <div class="col-md-8">
            <h2><strong>{{ shuku.标题 }}</strong></h2>
            <p><strong>作者:</strong> {{ shuku.作者 }}</p>
            <p><strong>序号:</strong> {{ shuku.序号 }}</p>
            <p><strong>更新时间:</strong> {{ shuku.更新时间|date:"Y年m月d日 " }}</p>
            <p><strong>简介:</strong> {{ shuku.简介 }}</p>
            <!-- 其他详细信息字段 -->
        </div>

        {% if shuku.文档 %}
        <div class="_df_book border mt-4" height="500" width="100%" webgl="true" backgroundcolor="dark"
        source="{{ shuku.文档.url }}" id="df_manual_book" style="width:100%">
    </div>
        {% else %}
        暂无上传文档
        {% endif %}
    </div>
</div>
<style>
    .card-img-top-zoom {
        overflow: hidden;
        transition: transform 0.5s ease;
    }

    .card-img-top-zoom img:hover {
        transform: scale(1.1);
    }
</style>
{% endblock %}