{% extends 'base.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <h2><strong>书库列表</strong></h2>
    </div>
    <div class="row">
        {% for obj in all_书库 %}
        <div class="col-6 col-md-4 col-lg-2 mb-3">
            <div class="card card-img-top-zoom">
                <a href="{% url 'home:detail' obj.id %}" class="text-decoration-none">
                    <div>
                        {% if obj.图片 %}
                        <img class="card-img-top card-img" src="{{ MEDIA_URL }}{{ obj.图片 }}" style="height: 250px; width: 180px;">
                        {% else %}
                        <img src="{% static 'images/default-placeholder.png' %}" style="height: 200px; width: 150px;">
                        {% endif %}
                    </div>
                    <h4 class="card-title font-weight-bold mb-0 mt-2" style="color: #3377AA;">{{ obj.标题|truncatechars:8 }}</h4>
                </a>
                <h6 class="mt-0">{{ obj.作者 }}</h6>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
