{% extends 'base.html' %}
{% load bootstrap_icons %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mt-3">
        <div class="col ">
            <h1 >
                {{ tongxun.标题 }}
            </h1>
            <div class="row ">
                <div class="col">
                    <h5 class="  text-muted" >
                        作者：{{tongxun.作者}}
                    </h5>
                    <h5 class=" text-muted" >
                        资源：{{tongxun.资源 }}
                    </h5>
                </div>
                <div class="col text-right">
                    <h5 class=" text-md-right text-muted">
                        更新时间<br />
                        {{ tongxun.更新时间|date:'Y' }}年{{ tongxun.更新时间|date:'m' }}月{{ tongxun.更新时间|date:'d' }}日
                    </h5>
                </div>
            </div>
            <hr class="hr-content mt-0">
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-between">
            <div class="row  pb-4">
                <div class="col">
                    <p>
                        {{tongxun.内容|safe}}
                    </p>
                        
                </div>
            </div>
            <div class="col-4 ml-2 d-none d-md-block ">
                <div class="row border rounded pb-2 sticky-scroll">
                    <div class="row no-gutters p-2 bg-light align-items-stretch mb-2">
                        <h4>其他通讯</h4>
                    </div>
                    {% for obj in all_通讯 %}
                    <a href="{% url 'home:tongxundetail' obj.id %}">
                        <div class="card card-img-horizontal border rounded mb-2" style="flex-direction:row;">

                            <div class="card-body p-2">
                                <small class="text-muted">标题</small>
                                <h5 class="card-title ">{{obj.标题|truncatechars:15 }}</h5>
                                <small class="text-muted card-date">{{obj.更新时间|date:'Y-m-d h:i:s' }}</small>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                    <a class="nav-link" href="{% url 'home:tongxun' %}">
                        <div class=" w-100 btn btn-outline-dark bg-light mb-2">
                            更多通讯
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}